<aside class="sidebar">
    <nav class="navbar navbar-expand-lg">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span><img src="assets/images/dashboard.svg" alt=".."> </span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active" href="#">
                                <span><img src="assets/images/note_alt.svg" alt=".."> </span>
                                Assessment
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span><img src="assets/images/quiz.svg" alt=".."> </span>
                                My Library
                            </a>
                        </li>
                        <li class="border-dashed-bottom mt-3 mb-3"></li>
                        <div class="d-nav">
                            <span class="rounded-pill admin-badge">Admin</span>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span><img src="assets/images/admin_meds.svg" alt=".."> </span>
                                    Refund Status
                                </a>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</aside>